
<h2>Dançarina/performer, pesquisadora, produtora e arte educadora.</h2>

<p>Doutoranda do Núcleo de Subjetividade da PUC/SP, sob a orientação do
filósofo Peter Pál Pélbart. Atualmente dedica-se ao LAB EROS – laboratório de
práticas corporais e experimentos eróticos sobre o tempo em paralelo à
criação de seu novo espetáculo-solo, EROTIC – inspirado na obra de Henri
Bergson e Georges Bataille, , com estreia prevista para novembro de 2016.</p>

<p>Desde 2004 participa e colabora em diversas companhias e coletivos de arte.
Fundou e integrou a CAOS Cia de Teatro de 2004 a 2006, o NUMIOLLO –
Núcleo de Investigações Artísticas entre 2007 e 2009 e o coletivo Meninas
sem Nome em 2012. Mais recentemente, integrou a Taanteatro Companhia,
dirigida por Maura Baiocchi e Wolfgang Pannek, onde atuou como dançarina,
performer, assistente de direção, coreografia e produção nos espetáculos
Máquina Hamlet fisted (2011), Danças [Im]puras (2012), 50 desenhos para
assassinar a magia (2014) e cARTAUDgrafia (2015).</p>

<p>Em seu mais recente espetáculo solo, ANDROGYNE – Sagração do Fogo, foi
contemplada com os prêmios Denilto Gomes da Cooperativa de Dança de SP 
na categoria “Domínio do Movimento”, Funarte Klauss Vianna de Dança na
categoria “Circulação”,  e APCA de Dança na categoria “Bailarina Revelação”.
Entre 2013 e 2015 apresentou ANDROGYNE em Brasília/DF, Goiânia/GO,
Salvador/BA, Palmas/TO, Belo Horizonte/MG e São Paulo/SP. Destacam-se as
apresentações no projeto Dança no MIS – Museu da Imagem e do Som/SP,
Pauta em Movimento no SESC Palladium/BH, Circuito Cultural Paulista,
Mostra do Fomento à Dança e a temporada no Teatro Sérgio Cardoso e no
Centro de Referência da Dança de São Paulo.</p>

<p>Atuou como Artista-orientadora no Programa Vocacional da SMC de São
Paulo de 2010 a 2014 e professora-pesquisadora do  Curso de Especialização
em Coordenação Pedagógica da UFBA – Universidade Federal da Bahia de
2012 a 2013. Desenvolveu orientação corporal e consultoria no Projeto
Lúcifer da Cia Zona de Operação, contemplado pelo PROAC Primeiras Obras
2013/2014 da Secretaria de Cultura do Estado de São Paulo e no Projeto
Coagula do Núcleo Arcênico de Criações, contemplado pelo Programa Nelson
Seixas de Fomento à Produção Cultural de São José do Rio Preto em 2015.
Além de realizar assistência, coordenação e orientação de performances junto
aos Núcleos de Pesquisa e Criação e Residências Artísticas da Taanteatro Cia
entre os anos de 2012 e 2015. </p>

<p>Bacharel em Artes Cênicas pela UNICAMP (2007) e Mestre em Psicologia
Clínica pelo Núcleo de Subjetividade da PUC/SP (2012), participou de diversos
festivais, encontros e eventos nacionais e internacionais, dentre eles
o CONVERGÊNCIAS 2014 – SESC Palmas, PRALAC 2013 – Programa de
Residência Artística do Laboratório de Atividades Criativas – Lagos/Portugal,
MISTURA 2012 em Córdoba/Argentina, 1º e 2º Fórum de
Ecoperformance/SP, Festival Viva Dança 2012 – Salvador/BA, Festiarte
Brasília 2012, EIAP 2011 – Encontro Internacional de Antropologia e
Performance da USP, DRIFT BRAZIL 2011 – Residência Internacional do Zecora
Ura Theatre, Vértice Brasil 2010 – ligado ao Magdalena Project, Feverestival
2010,  Festival Internacional de Artes Cênicas - FIAC Bahia 2009, Festival
Latino Americano de Teatro - FILTE Bahia 2009 e III Encontro Internacional
Mujer Creadora (2009) em Badajoz/Espanha.</p>