main {
	display: inline-block;
	position:relative;
	width: 100%;
	min-height: 100vh;
	margin-top: 0px;
	margin-left: 25rem;
	color: #1C1C1C;
	line-height: 1.8;
	transition: all 0.6s ease;
}


#homeCarousel {
	width: 100%;
}

#homeCarousel .item {
	height: 100vh;
	width: 100%;
}

#homeCarousel img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 760px) {
	main {
		margin-left: 6rem;
		text-align: left !important;
	}
}

.hover-bw-filter {
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	transition: all 0.5s ease;
}

.hover-bw-filter:hover,
.hover-bw-filter:focus {
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	
}

#bio {
	width: 100%;
	z-index: 1;
	margin: 0 auto;
	padding: 2rem 20rem;
	background-color: #F4F4F4;
	text-align: justify;
	
}

@media screen and (max-width: 760px) {
	section {
		text-align: left;
	}
}

#bio img {
	display: block;
	margin: 0 auto;
	margin-bottom: 2rem;
	width: 10rem;
	height: 10rem;
	border: 5px solid #F4F4F4;
	border-radius: 5rem;
}

#bio h3 {
	margin-bottom: 2rem; 
	text-align: left;
}

#artwork {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	min-height: 100vh;
	transition: all 0.7s ease;
}

#artwork > ul > li {
	position: relative;
	width: 100%;
	min-height: 148px;
	margin: 0;
	border: none;
	text-align: left;
	color: white;
	transform: 	translateX(0);
	text-shadow: 0px 0px 20px hsla(0,0%,0%,.25);
}

#artwork li h1 {
	position: relative;
	height: 148px;
	z-index: 2;
	font-weight: bold;
	text-shadow: 0px 2px 2px hsla(0,0%,0%,.25);
	margin: 0;
	padding: 5rem 3rem 2rem 3rem;
}

input.checkbox-toggler {
	position: absolute;
	cursor: pointer;
	z-index: 3;
	width: 100%;
	margin: 1;
	opacity: 0;
	height: 100%
}

#artwork input[type=checkbox] {
	height: 148px;
}

#artwork input.checkbox-toggler ~ .checkbox-toggleable,
nav .checkbox-toggler ~ .checkbox-toggleable {
	position: relative;
	z-index: 1;
	max-height: 1000vh;
	width: 100%;
	opacity: 1;
	overflow: hidden;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
	transition: all 0.65s ease-in-out;
}

#artwork article {
	font-family: 'Inconsolata';
	padding: 3rem 5rem 5rem 5rem;
}

#artwork .checkbox-toggler:checked ~ .checkbox-toggleable,
nav .checkbox-toggler:checked ~ .checkbox-toggleable {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

#artwork .checkbox-toggler:checked ~ .checkbox-toggleable {
	padding: 0rem 5rem 0rem 5rem;
}


#artwork > ul > li > h1 {
	background-size: cover;
}


article {
	padding: 1rem 2rem;
	color: #000;
	background-color: white;
}

article header {
	text-align: left;
	margin-bottom: 2rem;
}

 article p {
	margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
	section,
	article	{
		width: 100% !important;
	}
}

main > * {
	display: none;
}

main > *:target {
	display: block;
	background-color: #fff;
	-webkit-animation: fadein 0.5s ease;
	   -moz-animation: fadein 0.5s ease;
	    -ms-animation: fadein 0.5s ease;
	     -o-animation: fadein 0.5s ease;
	        animation: fadein 0.5s ease;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}
}