
html {
	padding: 0px;
	font-size: 10px !important; 
	font-family: 'Lato', sans-serif;
	background-color: #141719;
	overflow-y: scroll;
}

@media (max-width: 640px) {
	html {
		font-size: 8px !important;
	}
}@media (max-width: 480px) {
	html {
		font-size: 6px !important;
	}
}

h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

h4{
	font-size: 1.6rem;
}

body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding: 0px;
	background-color: #141719;
}

nav {
	font-family: 'Lora', serif;
	display: inline-block;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 25rem;
	height: 100vh;
	padding: 0px !important;
	margin: 0px;
	background-color: #141719;
	color: #fff;
	text-align: center;
	transition: all 0.5s ease;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	position: relative;
	margin: 0 auto;	
}

/* Z index hides > .checkbox-toggler */
nav > ul > li > a {
	position: relative;
	background-color: #141719;
	z-index: 2;
}

#toggleNav {
	display: none;
}

button:hover, 
button:focus, 
button:active {
	border: none;
	outline: none;
}

nav header {
	margin-bottom: 3rem;
}


nav ul {
	padding: 0px;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	font-size: 2rem;
}

nav > ul > li {
	display: block;
	min-height: 6rem;
}

nav li .checkbox-toggler {
	height: 6rem;
	left: 0;
}

nav .checkbox-toggleable {
	width: 100%;
	border-top: 3px dotted white;
	border-bottom: 3px dotted white;
	z-index: 0;
	font-size: 1.6rem;
	margin: 0 auto;
}


nav .checkbox-toggleable a, 
nav .checkbox-toggleable li {
	width: 100%;
	padding: 0.1rem;
	margin: 0 auto;
}

body a {
	border: none;
}

body a:hover,
body a:focus,
body a:active { 
	border: none;
	outline: none;
	text-decoration: none;
}

nav adress a {
	color: #FFF !important;
}

nav ul a {
	display: block;
	width: 100%;
	padding: 1.5rem;
	background-color: #141719;
	border: none;
	color: #fff;
	transition: all 0.5s ease;
}

nav ul a:hover, 
nav ul a:focus, 
nav ul a:active {
	background-color: #F4F4F4;
	color: #1C1C1C;
}


nav footer {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0px;
	right: 0px;
	padding: 1.5rem;
	margin: 0 auto;
	font-size: 1.2rem;
	text-align: center;
}

nav footer svg {
	display: inline-block;
	margin: 0 1.5rem;
	margin-top: 0.5rem;
	width: 2rem;
	height: 2rem;
	fill: #fff;
}

nav footer .glyphicon {
	margin: 0 1.5rem;
	margin-top: 0.5rem;
	font-size: 2.15rem;
	width: 2rem;
	height: 2rem
}

#toggleNav {
	display: block;
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0rem;
	width: 6rem;
	height: 6rem;
	padding: 0px;
	background-color: #141719;
	outline: none;
	border: none;
	font-size: 4rem;
	color: #F4F4F4;
}

#toggleNav:hover {
	background-color: #F4F4F4;
	color: #1C1C1C;
}

.closed {
	left: -22rem;
}

.news-carousel {
	position: relative;
	height: 11.5rem;
	margin: 2rem 3rem;
	overflow: hidden;
}

.news-block {
}

.news-block-top {
	position: absolute;
	transform: translateX(-50%);
	height: 0;
	left: 50%;
	top: -11.5rem;
	opacity: 0;
}

.news-block-bottom {
	position: absolute;
	transform: translateX(-50%);
	height: 0;
	left: 50%;
	top: 11.5rem;
	opacity: 0;
	transition: all 1.5s ease;
}

.news-block-active {
	display: block;
	position: absolute;
	height: 1;
	opacity: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.news-block-active,
.news-block-bottom,
.news-block-top {
	transition: all 1.5s ease;
}

.news-block a,
.news-carousel .news-btn {
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	height: 2.5rem;
	padding: 0.2rem;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
}

.news-carousel .news-btn {
	position: absolute;
	z-index: 2;
	height: 2rem;
	background-color: #141719;
}

.news-carousel .news-btn-down {
	position: absolute;
	bottom: 0;
	left: 0;
}