
html {
	padding: 0px;
	font-size: 10px !important; 
	font-family: 'Lato', sans-serif;
	background-color: #141719;
	overflow-y: scroll;
}

@media (max-width: 640px) {
	html {
		font-size: 8px !important;
	}
}@media (max-width: 480px) {
	html {
		font-size: 6px !important;
	}
}



h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

h4{
	font-size: 1.6rem;
}

body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding: 0px;
	background-color: #141719;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


nav {
	display: inline-block;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 28rem;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	background-color: #141719;
	color: #fff;
	text-align: center;
	transition: all 0.5s ease;
}


#toggleNav {
	display: none;
}

nav header {
	margin-bottom: 3rem;
}


nav ul {
	padding: 0px;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	font-size: 2rem;
}

nav li {
	display: block;
}

nav ul a {
	display: block;
	width: 100%;
	padding: 1.5rem;
	background: none;
	border: none;
	color: #fff;
	transition: all 0.5s ease;
}


nav footer {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0px;
	right: 0px;
	padding: 1.5rem;
	margin: 0 auto;
	font-size: 1.2rem;
	text-align: center;
}

nav footer svg {
	display: inline-block;
	margin: 0 1.5rem;
	margin-top: 0.5rem;
	width: 2rem;
	height: 2rem;
	fill: #fff;
}

#toggleNav {
	display: block;
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0rem;
	width: 6rem;
	height: 6rem;
	padding: 0px;
	background-color: #141719;
	outline: none;
	border: none;
	font-size: 4rem;
	color: #F4F4F4;
}#toggleNav:hover {
	background-color: #F4F4F4;
	color: #1C1C1C;
}

.closed {
	left: -22rem;
}

main {
	display: inline-block;
	position:relative;
	width: 100%;
	min-height: 100vh;
	margin-top: 0px;
	margin-left: 28rem;
	color: #1C1C1C;
	line-height: 1.8;
	transition: all 0.6s ease;
}


#homeCarousel {
	width: 100%;
}

#homeCarousel .item {
	height: 100vh;
	width: 100%;
}

#homeCarousel img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 760px) {
	main {
		margin-left: 6rem;
		text-align: left !important;
	}
}

.hover-bw-filter {
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	transition: all 0.5s ease;
}

.hover-bw-filter:hover,
.hover-bw-filter:focus {
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	
}

#bio {
	width: 75%;
	z-index: 1;
	margin: 0 auto;
	padding: 5rem;
	padding-top: 2rem;
	background-color: #F4F4F4;
	text-align: justify;
	
}

@media screen and (max-width: 760px) {
	section {
		text-align: left;
	}
}

#bio img {
	display: block;
	margin: 0 auto;
	margin-bottom: 2rem;
	width: 10rem;
	height: 10rem;
	border: 5px solid #F4F4F4;
	border-radius: 5rem;
}

#bio h3 {
	margin-bottom: 2rem; 
	text-align: left;
}

#artwork {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	min-height: 100vh;
	transition: all 0.7s ease;
}

#artwork > ul > li {
	position: relative;
	width: 100%;
	margin: 0;
	border: none;
	text-align: left;
	color: white;
	text-shadow: 0px 0px 20px hsla(0,0%,0%,.25);
}

#artwork li h1 {
	font-weight: bold;
	text-shadow: 0px 2px 2px hsla(0,0%,0%,.25);
	margin: 0;
	padding: 5rem 3rem 2rem 3rem;
}

#artwork input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	margin: 1;
}

input[type=checkbox] ~ article {
	position: relative;
	z-index: 2;
	max-height: 1000vh;
	width: 100%;
	opacity: 1;
	padding: 1rem 5rem;
	overflow: hidden;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
	transition: all 0.35s ease-in-out;
}

input[type=checkbox]:checked ~ article {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	-webkit-transform: translate(0, 50%);
	        transform: translate(0, 50%);
}

#artwork > ul > li {
	background-size: cover;
}

nav ul a {

}

nav ul a:hover, 
nav ul a:focus, 
nav ul a:active {
	background-color: #F4F4F4;
	color: #1C1C1C;
	text-decoration: none;
	border: none;
	outline: none;
}

button:hover, 
button:focus, 
button:active {
	border: none;
	outline: none;
}

article {
	padding: 1rem 2rem;
	color: #000;
	background-color: white;
}

article header {
	text-align: left;
	margin-bottom: 2rem;
}

 article p {
	margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
	section,
	article	{
		width: 100% !important;
	}
}

main > * {
	display: none;
}

main > *:target {
	display: block;
	background-color: #fff;
	-webkit-animation: fadein 0.5s ease;
	   -moz-animation: fadein 0.5s ease;
	    -ms-animation: fadein 0.5s ease;
	     -o-animation: fadein 0.5s ease;
	        animation: fadein 0.5s ease;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}